body {
    background: #AEAEAE;
    color: #000000;
}

.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: #FFA500;
    color: #052800;
}

.dodgers {
    background: #0000FF;
    color: #fff701;
}

.cubs {
    
}

.pittsburgh {
    background: #FFFF00;
    color: #1100ff;
}

.cardinals {
    background: #a20000;
    color: #FFFFFF;
}

.table-container {
    background: #000000;
    color: #FFFFFF;
}
div {
    padding: 5px 20px;
    margin-bottom:15px;

}
p {
    line-height: 1.35;
    
    

}
